$good-color: #32d574;
$bad-color: #fe2844;

.chart-bar {
  &__yesterday-bar {
    fill: #f0f0f0;
  }

  &__today-bar {
    &_good {
      fill: $good-color;
    }

    &_bad {
      fill: $bad-color;
    }
  }
}
